/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
 @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
 @import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
 @import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/
 @import url(font-awesome.min.css);
 @import url(owl.carousel.min.css);

 @import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*--------------------------------------------------------------------- basic ---------------------------------------------------------------------*/

.btn-temp a {
    display: block;
    background: transparent;
    color: #fff;
    max-width: 400px;
    padding: 12px 0px;
    width: 100%;
    font-size:38px;
    text-align: center;
    text-transform: initial;
    font-weight: 500;
    border: #fff solid 4px;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive;
}
.btn-temp a:hover {
    background: #db3d3c;
    color: #fff;
}

 body {
     color: #666666;
     font-size: 14px;
     font-family: 'Roboto';
     line-height: 1.80857;
     font-weight: normal;
}
 html {
     scroll-behavior: smooth;
}
 a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 h1, h2, h3, h4, h5, h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0 
}
 h1 {
     font-size: 24px 
}
 h2 {
     font-size: 22px 
}
 h3 {
     font-size: 18px 
}
 h4 {
     font-size: 16px 
}
 h5 {
     font-size: 14px 
}
 h6 {
     font-size: 13px 
}
 *, *::after, *::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1 
}
 button:focus {
     outline: none;
}
 ul, li, ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}
 p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}
 a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}
 a, .btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}
 img {
     max-width: 100%;
     height: auto;
}
 :focus {
     outline: 0;
}
 .btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}
 .lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}
 .form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
 .navbar-form input {
     border: none !important;
}
 .badge {
     font-weight: 500;
}
 blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}
 button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}
 .full {
     float: left;
     width: 100%;
}
 .layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .light_silver {
     background: #f9f9f9;
}
 .theme_bg {
     background: #38c8a8;
}
 .margin_top_30 {
     margin-top: 30px !important;
}
 .full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}
/**-- heading section --**/
 .main_heading {
     text-align: center;
     display: flex;
     justify-content: center;
     position: relative;
     margin-bottom: 50px;
}
 .main_heading h2 {
     padding: 0;
     font-size: 48px;
     line-height: 60px;
     font-weight: 400;
     position: relative;
     letter-spacing: -0.5px;
     color: #114c7d;
     border-left: solid #38c8a8 10px;
     padding-left: 15px;
}
 .main_heading h2 strong {
     background: #38c8a8;
     color: #fff;
     font-weight: 600;
     padding: 0 15px;
     line-height: 68px;
}
 .white_heading_main h2 {
     color: #fff;
}
 .small_main_heading {
     margin-top: 25px;
     float: left;
     width: 100%;
     border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
     margin-bottom: 25px;
}
 .small_main_heading h2 {
     padding: 2px 0 20px 0;
     color: #114c7d;
     font-weight: 400;
     font-size: 28px;
     background-image: url('../images/fevicon.png');
     background-repeat: no-repeat;
     padding-left: 55px;
     letter-spacing: -0.5px;
}
 .small_main_heading h2 strong {
     color: #38c8a8;
     font-weight: 600;
}
 .main_bt {
     background: #38c8a8;
     color: #fff;
     padding: 8px 25px 8px 20px;
     float: left;
     font-size: 15px;
     font-weight: 300;
     border-left: solid #114c7d 5px;
     border-radius: 0;
}
 a.readmore_bt {
     color: #fff;
     font-weight: 300;
     text-decoration: underline !important;
}
 .main_bt:hover, .main_bt:focus {
     background: #114c7d;
     border-left: solid #38c8a8 5px;
     color: #fff;
}
 .margin_top_50 {
     margin-top: 50px;
}
 .margin_bottom_30_all {
     margin-bottom: 30px;
}
 .text_align_center {
     text-align: center;
}
/*---------------------------- preloader area ----------------------------*/
 .loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
     top: 0;
}
 .loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}
 .loader img {
     width: 280px;
}
/*--------------------------------------------------------------------- header ---------------------------------------------------------------------*/
 header {
     min-height: 90px;
     background: transparent;
     padding-top: 0px;
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 998;
}
 header .container-fluid {
     max-width: 1850px;
}
 .right_header_info {
     width: 100%;
     float: left;
     padding: 20px 0 0;
}
 .right_header_info ul {
     list-style: none;
     padding: 0;
     margin: 0;
     float: right;
}
 .right_header_info ul li {
     display: inline;
     font-size: 16px;
     margin-left: 45px;
     color: #eaeaea;
     font-weight: 400;
     float: left;
}
 .right_header_info ul li a {
     color: #eaeaea;
     font-weight: 300;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 35px;
     text-align: center;
     line-height: 35px;
     position: relative;
     top: -3px;
     padding: 0 15px;
     margin: 0 2px;
}
 .button_user a {
     float: left;
     min-width: 75px;
     height: 40px;
     text-align: center;
     line-height: 38px;
     position: relative;
     top: -7px;
     padding: 0 15px;
     margin: 0 2px;
     border: solid #eaeaea 1px;
}
 .button_user a:hover, .button_user a:focus, .button_user a.active {
     background: #e3d105;
     color: #fff;
     border-color: #e3d105;
     color: #222;
}
 #sidebarCollapse {
     background: transparent;
}
 .slider_section {
     min-height: 100vh;
     /*padding-bottom: 100px;*/
     padding-bottom: 0px;
     margin-bottom: 0px;
}
 .contact_nu {
    float: right;
}
/** menu section **/
 .head-top {
     padding-bottom: 20px;
     background: #000;
}
 .email {
     padding-top: 31px;
}
 .email a {
    font-size: 16px;
}
 .email a:hover {
     color: #000;
}
 .email img {
    padding-right: 10px;
}
 .contact_nu {
     padding-top: 31px;
}
 .contact_nu a {
    font-size: 16px;
}
 .contact_nu a:hover {
     color: #000;
}
 .contact_nu img {
    padding-right: 10px;
}
 .bg {
    background-color: #000;
}

 .navbar-expand-md .navbar-nav .nav-link {
     padding: 15px 48px;
     font-size: 13px;
     color: #fff;
     line-height: 18px;
}

/** banner_main **/
 .carousel-indicators li {
     width: 20px;
     height: 20px;
     border-radius: 11px;
     background-color: #070000;
}
 .carousel-indicators li.active {
    background-color: #35a30a;
}
 .carousel-indicators {
     left: inherit;
     top: 53%;
     width: 20px;
     display: block;
}
 .carousel-indicators li {
     margin: 8px 0;
}
 .banner_main {
     position: relative;

}
 .relative {
    position: absolute;
     top: 50%;
     transform: translateY(-50%);
     bottom: auto;
     text-align: left;
}
 .carousel-caption h1 {
    color:#35a30a;
     font-size: 124px;
     line-height: 120px;
     font-weight: 500;
     padding-bottom: 85px;
}
 .dark_brown {
    color: #000000;
     font-weight: 600;
}
 .carousel-caption a {
     display: block;
     background: transparent;
     color: #fff;
     max-width: 400px;
     padding: 12px 0px;
     width: 100%;
     font-size:38px;
     text-align: center;
     text-transform: initial;
     font-weight: 500;
     border: #fff solid 4px;
     position: absolute;
     left: 50%;
     margin-top: 10px;
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     font-family: 'Dancing Script', cursive;
}
 .carousel-caption a:hover {
     background: #db3d3c;
     color: #fff;
}
 .carousel-control-prev-icon {
    display: none;
}
 .carousel-control-next-icon {
    display: none;
}
 .carousel-item img {
    width: 100%;
    height: 650px;

}
 .slider_section {
     min-height: inherit;
}
/** about **/
 .top_layer {
    position: relative;
}
 .top_layer::before {
     position: absolute;
     width: 100%;
     height: 260px;
     content: "";
     background: url(../images/croos.png);
     background-size: 100% 100%;
     background-position: center center;
     background-repeat: no-repeat;
     top: -298px;
}
 .about {
    padding-top: 0px;

}
 .about_box {
     height: auto;
     padding-right: 50px;
     background: #000;
}
 .about_box_text {
    padding-left: 0px;
     padding-right: 100px;
     text-align: right;

}
 .about_box_text .title {
    padding-top: 120px;
     text-align: right;
     color: #fff;
     font-family: 'Dancing Script', cursive;
}
 .about_box_text .title h2 {
    padding: 0px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
 .about_box_text p {
    font-size: 20px;
     line-height:2em;
     color: #fff;
     font-weight: 400;
}
#about-details{
    font-size: 25px;
    line-height:1.5em;
}
 .pppp {
     padding: 0;
}

 .about_box_img figure {
     margin: 0;
     text-align: center;
     display: block;
}
/** end about **/

 .rate {
    margin-top: 25%;
    text-align: center;

}
 .rate_box {
    box-shadow: ;
     height: 450px;
     background: #000;
     padding-top: 50px;
     z-index: 999;
     position: relative;
     margin-top: 20%;
     margin-left: -280px;
     margin-right: 80px;
     height: 600px;
     width: 600px;

}
 .rate_box_text {
    padding-left: 0px;
     padding-right: 0px;
     text-align: center;

}
 .rate_box_text .title {
    padding-top: 0px;
     padding-bottom: 60px;
     text-align: center;
     color: #fff;
      margin: 0 auto;
}
 .rate_box_text .title h2 {
    padding: auto;
    color: #fff;
    margin: 0 auto;
}
 .rate_box_text p {
    font-size: 20px;
     line-height:2em;
     color: #fff;
     font-weight: 400;
      margin: 0 auto;
      
}
#rate-details{
    font-size: 25px;
    line-height:1.5em;
     margin: 0 auto;
}
 .pppp-rate {
     padding: 0;
}
}
 .rate_box_img figure {
     margin: 0;
     text-align: center;
     display: block;
}

#rate-img{
    height: 550px;
}
/** end rate **/
/** weyoga **/
 .weyoga {
    padding-bottom: 90px;
     margin-top: 60px;
}
 .yogo_three_box {
    text-align: center;
}
 .yogo_three_box figure {
    margin: 0;
}
 .yogo_three_box figure img {
     align-items: center;
}
 .yogo_three_box h3 {
     font-weight: bold;
     padding-top: 30px !important;
     font-size: 23px;
     color: #010400;
     padding: 12px 0px;
     line-height: 23px;
     text-align: center;
     text-transform: uppercase;
}
 .yogo_three_box p {
     font-size: 17px;
     line-height: 27px;
     color: #010400;
     font-weight: 400;
}
 .yourlifeyoga .yogatitle h2 {
    font-size: 57px;
}
 .readmore {
     display: block;
     background: #fff;
     color: #050000;
     max-width: 202px;
     padding: 12px 0px;
     width: 100%;
     font-size: 18px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 500;
     border: #35a30a solid 1px;
}
 .readmore:hover {
     background: #58c62c;
     color: #fff;
}
/** end weyoga **/
/** your life yoga **/
 .yourlifeyoga {
     box-shadow: #ddd 0px 0px 25px 0px;
     padding:90px 10px;
     text-align: center;
     background-image: url(../images/services-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: auto;
}
 .yourlifeyoga .yogatitle h2 {
     font-size: 40px;
     line-height: 50px;
     font-weight: bold;
     color: #000;
}
 .yourlifeyoga .yoga_img figure {
    margin: 10px 5px;

}
 .yourlifeyoga .yoga_img figure img {
    /*padding:50px 30px;*/
    width: 290px;
    height: 300px;
    margin-top: 3em;
}
 .yourlifeyoga .yoga_img p {
     color: #58c62c;
     font-size: 17px;
}

table, th, td {
  width: 90%;
  color: #000;
  text-align: left;
  font-size: 18px;
}

.pedicure-prices {
 color:#fff;
}
/** end your life yoga **/

/** your life yoga **/
 .services2 {
    margin-top: 7em;
     box-shadow: #ddd 0px 0px 25px 0px;
     padding:60px 10px;
     text-align: center;
     background-image: url(../images/services-bg2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: auto;
}
 .services2 .yogatitle h2 {
     font-size: 40px;
     line-height: 50px;
     font-weight: bold;
     color: #fff;
}
 .services2 .yoga_img figure {
    margin: 10px 5px;

}
 .services2 .yoga_img figure img {
    /*padding:50px 30px;*/
    width: 290px;
    height: 300px;
    margin-top: 3em;
}
 .services2 .yoga_img p {
     color: #58c62c;
     font-size: 17px;
}
/** our pricing **/
 .pricing {
     margin-top: 90px;
     background: #fff;
}
 .pricing_packages_bg {
     background: #ff8c00;
     padding: 80px 0px;
}
 .pricing .pricing_box {
     text-align: center;
    padding-bottom:10px;
}
 .pricing .pricing_box h3 {
     font-size: 27px;
     line-height: 24px;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     background: #020500;
     padding: 35px 0px;
}
 .pricing .pricing_box span {
     color: #58c62c;
     font-size: 90px;
     font-weight: bold;
     padding-top: 85px;
     line-height: 90px;
     display: inline-block;
}
 .pricing .pricing_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     font-weight: 400;
     padding: 20px 10px 85px 10px;
}
 .pricing_box_cross {
    text-align: center;
     box-shadow: #dddd 0px 0px 18px 6px;
     padding-bottom:10px;
}
 .pricing_box_cross::after {
     content:"";
     background: url(../images/img.png);
     position: absolute;
     width: 92%;
     height: 70px;
     left: 15px;
     bottom: -8px;
     background-repeat: no-repeat;
     background-size: 100% 100% 
}
 .pricing .pricing_box_cross h3 {
     font-size: 27px;
     text-align: center;
     line-height: 24px;
     color: #fff;
     font-weight: 500;
     text-transform: uppercase;
     background: #58c62c;
     padding: 35px 0px;
}
 .pricing .pricing_box_cross span {
     color: #58c62c;
     font-size: 90px;
     font-weight: bold;
     padding-top: 60px;
     line-height: 90px;
     display: inline-block;
}
 .pricing .pricing_box_cross p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     font-weight: 400;
     padding: 20px 10px 55px 10px;
}
 .pricing_box_cross .white_bold {
     color: #020500;
     font-size: 90px;
     font-weight: 500;
     line-height: 90px;
}
 .SelectPlan {
     margin: 0 auto;
     display: block;
     background: #fff;
     color: #050000;
     max-width: 202px;
     padding: 12px 0px;
     width: 100%;
     font-size: 18px;
     text-align: center;
     text-transform: uppercase;
     font-weight: 500;
     border:#35a30a solid 1px;
}
 .SelectPlan:hover {
     color: #fff;
     background: #000000;
     border:#050000 solid 1px;
}
/** end our pricing **/
 .title {
     text-align: center;
}
 .title h2 {
     font-size: 60px;
     font-weight: normal;
     line-height: 46px;
     color: #58c62c;
     padding-bottom: 20px;
}
/** Newsletter **/
 .Newsletter {
    background: #58c62c;
     padding: 70px 0px;
     margin-top: 90px;
}
 .Newsletter .news h2 {
     font-size: 60px;
     font-weight: normal;
     line-height: 46px;
     color: #fff;
     padding: 0;
     margin-bottom: 17px;
     text-align: center;
}
 .new_botton {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-top: 30px;
}
 .new_botton .tetter {
     padding: 10px 20px;
     border-radius: inherit;
     border: inherit;
     width: 39%;
}
 .submit {
     background: #070100;
     margin-left: -3px;
     padding: 9px 50px;
     color: #fff;
}
 .submit:hover {
     background: #ddd;
     color: #000;
}
/** end Newsletter **/
/** yoga online **/
 .yoga {
     padding-top: 90px;
     background: #fff;
}
 .yoga .title {
    padding-bottom: 130px;
}
 .yoga .title h2 {
     font-size: 60px;
     font-weight: normal;
     line-height: 46px;
     color: #58c62c;
     padding: 0px;
     font-family: 'Dancing Script', cursive;
}
 .yoga .yoga_box {
     text-align: center;
     background: #58c62c;
}
 .yoga .yoga_box figure {
    margin:0;
}
 .yoga .yoga_box img{
     margin-top: -70px;
     padding-bottom: 70px !important;
     padding: 0px 115px;
}
 .yoga .yoga_box p {
     color: #000;
     font-size: 17px;
     line-height: 28px;
     font-weight: 400;
}
/** end yoga online **/
/** contact **/
 .black {
     color: #000;
     font-weight: normal;
}
 .contact {
     margin-top: 90px;
}
 .contact .title {
     padding-bottom: 60px;
     text-align: left;
}
 .contact .title h2 {
     font-size: 60px;
     font-weight: normal;
     line-height: 46px;
     color: #58c62c;
     padding: 0;
}
 #map {
     height: 100%;
     min-height: 480px;
}
 .main_form {
     background: #000;
     /*padding: 40px 63px;
     padding-left: 224px;*/
     padding: 8em 50px 10em 50px;
     margin: 0px 50px 0px 50px;
     z-index: 999;
     position: relative;
    
     width: 60%;
     margin: -12em auto 0px;
}
 .form-control {
     border-radius: inherit;
     margin-bottom: 20px;
     padding: 8px 2px;
     background: #fff;
     border: #707070 solid 1px !important;
     width:60%;
    margin: 0 auto;

}
 .form-control:focus {
     box-shadow: inherit;
     background: transparent;
     border-bottom: #fff solid 1px !important;

}
label{
    color: #fff;
    margin: 0 auto;
    padding: 0;
    margin-left: 20%;
}
 .textarea {
     height: 200px;
      background: #fff;
     border: #707070 solid 1px !important;
     padding-top: 6px;
     width: 60%;
     color: #fff;
     opacity: 1;
     margin: 0 auto;
     margin-left: 20%;
}
 .send {
     font-family: poppins;
     float: none;
     margin: 25px auto;
     display: block;
     background: transparent;
     border: 1px solid #fff;
     color: #fff;
     max-width: 120px;
     padding: 6px 0px;
     width: 100%;
     font-size: 18px;
    position: absolute;
    left: 50%;
   
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 .send:hover {
     background: #db3d3c ;
     color: #fff;
}
 .padddd {
    padding-left: 0px;
     padding-right: 0;
}
 .map_section {
     height: 100%;
}
 .padding {
    padding-right: 0px;
     padding-left: 0;
}
 ul.mail-icon {
     list-style: none;
     padding-top: 20px;
}
 ul.mail-icon li {
     float: left;
     color: #fff;
     font-size: 15px;
     padding-right: 23px;
}
 ul.mail-icon li img {
    padding-right: 7px;
}
 ul.social_icon {
     list-style: none;
     padding-top: 30px;
}
 ul.social_icon li {
     float: left;
     height: 60px;
     color: #fff;
     padding-right: 20px;
}
 ul.social_icon li a {
     color: #fff;
     width: 40px;
     height: 40px;
     border: solid #fff 1px;
     float: left;
     text-align: center;
     line-height: 40px;
     border-radius: 100%;
     font-size: 18px;
}
 ul.social_icon li a:hover {
     background: #35a30a;
     border: solid #35a30a 1px;
     color: #fff;
}
/** end contact **/
/** footer **/
 .copyright {
     background: #000;
     padding: 30px;
}
 .copyright p {
     color: #fff;
     text-align: center;
     padding: 25px 0px;
     font-size: 17px;
}
 .copyright a {
     color: #fff;
}
 .copyright a:hover {
     color: #000;
}
/** end footer **/


/** explore images background **/
 .copyright1 {
     background: #000;
     z-index: -9;
     position: relative;
     height: 160px;
     margin-top: -4em;
}
 .copyright1 p {
     color: #fff;
     text-align: center;
     padding: 25px 0px;
     font-size: 17px;
}
 .copyright1 a {
     color: #fff;
}
 .copyright1 a:hover {
     color: #000;
}
/** end footer **/

/*Additional*/
#logo-ns{
    width: 10%;
    height: auto;
}

#about-img{
    z-index: 99;
    position: relative;
    margin-left: -80px;
    width: 100%;
    height: auto;
    top: 3em;
}

@media only screen and (max-width: 768px) {
  #about-img{
    margin-left: auto;
  }
}
#promo-img2{
    z-index: 99;
    position: relative;
    margin-left: -80px;
    width: 100%;
    height: 360px;
    top: 3em;
}
@media only screen and (max-width: 768px) {
  #promo-img2{
    margin-left: auto;
  }
}
#promo-discount{
    position: relative;
    z-index: 99;
    top: -10%;
    margin-right: 3em;
}
.percent{
text-align: center;
}

.promo {
    padding-top: 0px;
    position: relative;
    z-index: 999;
    margin-top: -25em;
    margin-bottom: 5em;
}
 .promo_box {
     height: 450px;
     padding-right: 0px;
     background: #000;
     padding-top: 50px;
     margin-right: 3em;
     margin-left: 3em;
}
 .promo_box_text {
     text-align: center;
}
 .promo_box_text .title {
    padding: 0px;
    text-align: center;
    color: #fff;
}
 .promo_box_text .title h2 {
    text-align: center;
    padding-left: 1em;
    padding-top: 50px;
    color: #fff;
    line-height: 1.5em;
}
 .promo_box_text p {
    font-size: 30px;
     line-height:2em;
     color: #fff;
     font-weight: 400;
}
#promo-details{
    font-size: 25px;
    line-height:2em;
}
 .pppp {
     padding: 0;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

/*Star Css*/

.rating {
  display: flex;
  position: relative;
  height: 100px;
  line-height: 25px;
  font-size: 100px;
  top: .5em;
  margin: auto 0 0 -30px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  cursor: pointer;

}

.rating label:last-child {
  position: static;

}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;

}

.rating label:last-child .icon {
  color: #fff;

}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: yellow;


}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #fff;
  text-shadow: 0 0 5px #09f;
}

@media (max-width:768px){
    .rating {
    display: flex;
    position: relative;
    height: 150px;
    line-height: 50px;
    font-size: 100px;
    top: .5em;
    }
  }

  @media (max-width:425px){
    .rating {
    display: flex;
    position: relative;
    height: 150px;
    line-height: 80px;
    font-size: 100px;
    top: .5em;
    left: -20px;
    }
  }
 @media (max-width:768px){
      .rate_box {
        height: 450px;
        background: #000;
        padding-top: 50px;
        z-index: 999;
        position: relative;
        margin-top: 20%;
        margin-left: auto;
        margin-right: 80px;
        height: 600px;
        width: 600px;

    }

    @media (max-width:425px){
      .rate_box {
        
        background: #000;
        padding-top: 50px;
        z-index: 999;
        position: relative;
        margin-top: 20%;
        margin-left: auto;
        margin-right: 80px;
        height: 700px;
        width: 400px;
}
}

/*--------------------------------------------------------------------- ener page css ---------------------------------------------------------------------*/
 